In [2]:
from pathlib import Path
import pandas as pd
import numpy as np

In [4]:
CURRENT_DIR = Path.cwd()
DATA_DIR = CURRENT_DIR / 'data'

Load Roster

In [9]:
roster = pd.read_csv(DATA_DIR / 'roster.csv',
            converters={"NetID": str.lower, "Email Address": str.lower},
            usecols=["Section", "Email Address", "NetID"],
            index_col="NetID")

In [10]:
roster.head(10)

                      Email Address  Section
NetID
wxb12345  woody.barrera_jr@univ.edu        1
mxl12345   malaika.lambert@univ.edu        2
txj12345       traci.joyce@univ.edu        1
jgf12345   john.g.2.flower@univ.edu        3
smj00936     stacy.johnson@univ.edu        2
rxs30280  richard.saunders@univ.edu        1
dma58910    daisy.anderson@univ.edu        2
hsw06874      holly.watson@univ.edu        2
bkr19538     brandy.reilly@univ.edu        2
lxc64780   lorraine.carter@univ.edu        2

Load Homework Assignments and Exam Grades File

In [16]:
hw_exam_grades = pd.read_csv(
    DATA_DIR / 'hw_exam_grades.csv',
    converters={"SID": str.lower},
    usecols=lambda title: "Submission" not in title,
    index_col="SID"
)

In [17]:
hw_exam_grades.head(5)

,First Name,Last Name,Homework 1,Homework 1 - Max Points,Homework 2,Homework 2 - Max Points,Homework 3,Homework 3 - Max Points,Homework 4,Homework 4 - Max Points,...,Homework 9,Homework 9 - Max Points,Homework 10,Homework 10 - Max Points,Exam 1,Exam 1 - Max Points,Exam 2,Exam 2 - Max Points,Exam 3,Exam 3 - Max Points
SID,,,,,,,,,,,,,,,,,,,,,
axl60952,Aaron,Lester,68.0,80,74,80,77,80,89,100,...,42,60,41,60,79,100,63,100,68,100
amc28428,Adam,Cooper,80.0,80,78,80,78,80,87,100,...,45,60,53,60,65,100,63,100,90,100
axc64717,Alec,Curry,69.0,80,76,80,66,80,87,100,...,58,60,42,60,65,100,78,100,83,100
akr14831,Alexander,Rodriguez,50.0,80,54,80,74,80,75,100,...,38,60,47,60,97,100,97,100,81,100
axd11293,Amber,Daniels,54.0,80,57,80,77,80,95,100,...,46,60,59,60,68,100,95,100,88,100

Load quiz grades

In [20]:
quiz_grades = pd.DataFrame()
for file_path in DATA_DIR.glob("quiz_*_grades.csv"):
    
    quiz_name = " ".join(file_path.stem.title().split("_")[:2])
    quiz = pd.read_csv(
        file_path,
        converters={"Email": str.lower},
        index_col=['Email'],
        usecols=['Email', 'Grade']
    ).rename(columns={"Grade": quiz_name})
    
    quiz_grades = pd.concat([quiz_grades, quiz], axis=1)

In [21]:
quiz_grades.head(5)

                        Quiz 5  Quiz 2  Quiz 4  Quiz 1  Quiz 3
Email
rachel.dennis@univ.edu      11       6       6       7       7
courtney.wolf@univ.edu       9      15       7      10       9
aaron.lester@univ.edu        8       9       8       6      10
ashley.martin@univ.edu      11       7      13       5       8
jessica.garza@univ.edu      10       8      11       8      16